figure {
    margin: 0;
}
.d{
    text-decoration: dashed;
}
#like_button_container{
    background-color: aqua;
}

.wrop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    height: 123px;
}
#what{
    height: 395px;
}
.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    height: 123px;
    width: 1215px;
  }
